.alert{
    position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  min-width: 250px;
  background-color: #dc3545;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}