.forgot-password-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Cambia la url de la imagen por la que desees */
  background-image: url('../../assets/UCVLosOlivos.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.forgot-password-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 0.4;
  z-index: 2;
}

.forgot-password-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
