.tabla {
    /*border: 3px solid crimson;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    */
}

.tabla-container {
    padding: 30px;
}

.tabla-estilizada table {
    margin-bottom: 0;
}

.tmn{
    font-size: 0.8em;
}